In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

/tmp/ipykernel_5491/1763381105.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Task #1: Merge the 12 Months of sales data into a single csv file

In [2]:
df = pd.read_csv("./sales_data/Sales_April_2019.csv")

files = [file for file in os.listdir('./sales_data')]

all_months_data = pd.DataFrame()
for file in files:
    df = pd.read_csv("./sales_data/"+file)
    all_months_data = pd.concat([all_months_data, df])
all_months_data.to_csv('all_data.csv', index=False)


# Clean up data

In [3]:
all_data = pd.read_csv('all_data.csv')
all_data.head(500)
all_data.shape

(186850, 6)

In [4]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

In [5]:
pd.isnull(all_data).sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [6]:
#drop null values
all_data.dropna(inplace=True)

In [7]:
#Drop rows of NAN 
nan_df = all_data[all_data.isna().any(axis= 1)]
nan_df.head()

all_data = all_data.dropna(how='all')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [8]:
all_data.shape

(186305, 6)

In [9]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [10]:
#find 'OR' and delete it 
all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']

In [11]:
#Convert columns to the correct type
all_data['Quantity Ordered'] = all_data['Quantity Ordered'].astype('int')
all_data['Price Each'] = all_data['Price Each'].astype('float')

# Add Month Column

In [12]:
all_data = pd.read_csv('all_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [13]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

ValueError: invalid literal for int() with base 10: 'Or'

# Add a sales column

In [ ]:
all_data['Sales'] = all_data['Quantity Ordered'] * all_data['Price Each']
all_data.head()

Add a city column

In [ ]:
#let's use .apply()
def get_city(address):
    return address.split(',')[1]
all_data['city'] = all_data['Purchase Address'].apply(lambda x: get_city(x))

all_data.head()

Q1: What was the best month for sales? how much was earned that month?

In [ ]:
 result = all_data.groupby('Month').sum()['Sales']

In [ ]:
Sales_month = all_data.groupby(['Month'], as_index = False)['Sales'].sum().sort_values(by='Sales', ascending=False)
# sns.set(rc={'figure.figsize':(17,5)})
sns.barplot(x = 'Month', y= 'Sales', data = Sales_month)

In [ ]:
ax = sns.countplot(x = 'Month', data = all_data)

for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
all_data.columns

In [ ]:
sns.countplot(x = 'Month', data = all_data)

In [ ]:
months = range(1,13)
plt.bar(months, result)
plt.xticks(months)
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month number')
plt.show()

From above graphs we can see that most of the buyers are purchas in December

What city had the highest number od sales

In [ ]:
ax = sns.countplot(x = 'city', data = all_data)
sns.set(rc={'figure.figsize':(17,5)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
 results = all_data.groupby('city').sum()

In [ ]:
months = range(1,13)
cities = all_data['city'].unique()
plt.bar(cities, results['Sales'])
plt.xticks(cities, rotation = 'vertical', size=8)
plt.ylabel('Sales in USD ($)')
plt.xlabel('city name')
plt.show()

From above graphs we can see that most of the orders are from San Francisco, Los Angeles and New York City respectively but total sales/amount is from up Austin and then Dallas

What time should we display advertisements to maximize likehood of customers buying product?

In [ ]:
all_data['Order Date'] = pd.to_datetime(all_data['Order Date'])

In [ ]:
all_data['Hour'] = all_data['Order Date'].dt.hour
all_data['Minute'] = all_data['Order Date'].dt.minute

In [ ]:
hours = [hour for hour, df in all_data.groupby('Hour')]
plt.plot(hours, all_data.groupby(['Hour']).count())

all_data.groupby(['Hour']).count()
plt.xticks(hours)
plt.xlabel('Hour')
plt.ylabel('Number of Orders')
plt.grid()
plt.show()

From above graphs we can see that most of the buyers are purchasing product around 11am(11) or 7pm(19). so my recomendetion are this time to advertisements

In [ ]:
minute = [minute for minute, df in all_data.groupby('Minute')]
plt.plot(minute, all_data.groupby(['Minute']).count())

all_data.groupby(['Minute']).count()
plt.xticks(minute)
plt.grid()
plt.show()

what product are most often sold together?

In [ ]:
df = all_data[all_data['Order ID'].duplicated(keep=False)]
df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))

df = df[['Order ID', 'Grouped']].drop_duplicates()
df.head()

In [ ]:
pip install itertools

In [ ]:
from itertools import combinations
from collections import Counter

count = Counter()

for row in df['Grouped']:
    if isinstance(row, str):
        row_list = row.split(',')
        count.update(Counter(combinations(row_list, 2)))

for key, value in count.most_common(10):
    print(key, value)